#firsth1{
  background-color: yellow;
}
#secondh1{
  background-color: antiquewhite;
  font-size: 20px;
}

.universal {
  background-color:chartreuse;
}

.random {
  font-weight: bold;
  font-size: 30px;
  background-color:chocolate;
}
#firsth2{
  color:blue;
}

form {
  width:100%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 200px;
  margin-left: 80px;
}

/* #container1{
  background-color: black;
  height: 50px;
  width:50px;
} */
[type="submit"]{
  margin-top: 10px;
}
